@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
  font-family: 'Roboto', sans-serif !important;
  scroll-behavior: smooth !important;
  font-size: 13px;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #2c2a2c #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 6px;
  }

  *::-webkit-scrollbar-track {
    background: var(--surface-card);
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--surface-ground);
    border-radius: 3px;
    border: 0px none #ffffff;
  }